@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  background-color: #181a27;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
  color: #f4f4f4;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #aa33ff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

.legend {
  background-color: #1a1d2a;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #3f3f46;
  box-shadow: 0 0 12px rgba(170, 51, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .legend {
    margin-bottom: 1rem;
  }
}

.legend h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #aa33ff;
  font-style: oblique;
}

@media screen and (max-width: 768px) {
  .legend h2 {
    font-size: 1rem;
  }
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .legend-item span {
    font-size: 0.7rem;
  }
}

.legend-low {
  color: #22c55e;
}

.legend-medium {
  color: #facc15;
}

.legend-hight {
  color: #ef4444;
}

.task-container {
  width: 50%;
}

.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: #f4f4f4;
}

@media screen and (max-width: 768px) {
  .addTask {
    flex-direction: column;
    gap: 0;
    font-size: 0.7rem;
  }
}

.addTask button {
  background: none;
  border: none;
}

.addIcon {
  width: 30px;
  height: 50px;
  color: #aa33ff;
  cursor: pointer;
  transition: transform 0.2s;
}

.addIcon:hover {
  transform: scale(1.2);
  color: #c145ff;
}

.select select {
  background-color: #1a1d2a;
  color: #f4f4f4;
  border: 1px solid #3f3f46;
  border-radius: 6px;
  padding: 5px 10px;
}

#form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 1rem;
  gap: 15px;
  background-color: #1a1d2a;
  border: 1px solid #3f3f46;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0 12px rgba(170, 51, 255, 0.5);
}

@media screen and (max-width: 768px) {
  #form {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin-top: 2rem;
  }
}

#form input,
#form textarea,
#form select {
  background-color: #12141c;
  color: #f4f4f4;
  border: 1px solid #3f3f46;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

#title-form,
#description-form {
  height: 100px;
  min-height: 60px;
  padding: 10px;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
}

#title-form::placeholder,
#description-form::placeholder {
  text-align: left;
  color: #a1a1aa;
  font-size: 0.9rem;
  opacity: 0.8;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

#form select {
  color: #f4f4f4;
}

#submitForm {
  background-color: #aa33ff;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 80%;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}

@media screen and (max-width: 768px) {
  #submitForm {
    width: 100%;
  }
}

#submitForm:hover {
  transform: scale(1.05);
  background-color: #c145ff;
}

#closeForm {
  background-color: #ef4444;
  color: #fff;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 80%;
  margin: auto;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}

@media screen and (max-width: 768px) {
  #closeForm {
    width: 100%;
  }
}

#closeForm:hover {
  transform: scale(1.05);
  background-color: #f87171;
}

#taskList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 30px;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1250px) {
  #taskList {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #taskList {
    display: flex;
    flex-direction: column;
  }
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1d2a;
  border: 1px solid #3f3f46;
  border-radius: 6px;
  margin: 20px 0;
  padding: 15px;
  color: #f4f4f4;
  box-shadow: 0 0 12px rgba(170, 51, 255, 0.5);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  #taskList li {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 15px;
  word-break: break-all;
}

.task-content p {
  margin: 0;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .task-content p {
    font-size: 0.7rem;
  }
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.priority-icon {
  font-size: 20px;
}

.priority-low {
  color: #22c55e;
}

.priority-medium {
  color: #facc15;
}

.priority-high {
  color: #ef4444;
}

.task-finished {
  opacity: 0.6;
  text-decoration: line-through;
  font-style: italic;
}

ion-icon[name="create-outline"],
ion-icon[name="checkmark-done-outline"],
ion-icon[name="refresh-outline"],
ion-icon[name="trash-outline"] {
  transition: transform 0.2s ease, color 0.2s ease;
  padding: 5px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #333131;
  cursor: pointer;
}

ion-icon[name="create-outline"]:hover,
ion-icon[name="checkmark-done-outline"]:hover,
ion-icon[name="refresh-outline"]:hover,
ion-icon[name="trash-outline"]:hover {
  transform: scale(1.3);
  color: #aa33ff;
}
