@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  background: #f5f5f5;
}

/* // ********** LEGEND ********** // */

.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
}

.legend h2 {
  font-style: oblique;
}

.legend-low {
  color: green;
  border: none;
}

.legend-medium {
  color: orange;
  border: none;
}

.legend-hight {
  color: red;
  border: none;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* // ********** Task Container ********** // */

.task-container {
  width: 50%;
}

.addTask {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.addTask button {
  background: none;
  border: none;
}

.addIcon {
  width: 30px;
  height: 50px;
  cursor: pointer;
}

#form {
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 1rem;
  gap: 10px;
  width: 100%;
}

#title-form {
  text-align: center;
}

#description-form {
  resize: none;
  height: 100px;
  text-align: left;
  padding: 10px 0 0 5px;
}

#description-form::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  line-height: 90px;
}

select:invalid {
  color: #757575;
}

select option {
  color: #000;
}

.priority-icon {
  font-size: 18px;
  margin-left: 10px;
}

.priority-low {
  color: green;
}

.priority-medium {
  color: orange;
}

.priority-high {
  color: red;
}

#taskList {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}

#taskList li {
  padding: 0 0 30px 0;
}
